.home-header {
  border-bottom: 1px solid #38444d;

  .title {
    color: blue;
    margin-left: 10px;
  
    span {
      font-size: 16px;
    }
  
    &:hover {
      color: blue;
    }
  }
}

.navbar-right {
  display: flex;
  margin-left: auto;
  align-items: center;

  .btn {
    margin-right: 10px;
  }
}